<configuration>
   <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
         <dependentAssembly>
            <assemblyIdentity name="test" publicKeyToken="5da68b6f0a896e93" culture="neutral" />
            <codeBase version="1.0.0.0" href="http:///Demo.dll"/>
         </dependentAssembly>
      </assemblyBinding>
      <etwEnable enabled="false" />
      <appDomainManagerAssembly value="Demo, Version=1.0.0.0, Culture=neutral, PublicKeyToken=5da68b6f0a896e93" />
      <appDomainManagerType value="MyAppDomain" />
   </runtime>
</configuration>